[Unit]
Description=HAproxy, load balancer
After=network.target

[Service]
User=root
ExecStart=/usr/local/haproxy/sbin/haproxy-systemd-wrapper -f /etc/haproxy/haproxy.cfg
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
